* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.mains {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
}

.add-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.field {
  width: 900px;
  padding-inline: 0.5rem;
  padding-block: 12px;
  border-radius: 5px;
  border: 1px solid black;
}

.alertt {
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.img {
  width: 15%;
}

.featureCards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.featureCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-block: 30px;
  margin: 10px;
}

.featureCardImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.featureCardImg img {
  width: 40%;
  border-radius: 50%;
}

.featureCardInfo {
  text-align: center;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.featureCardInfoIcon {
  color: #f23a2e;
}
